{% extends 'base.html.twig' %}
{% block navigation %}
    {{ parent() }}
{% endblock navigation %}
{% block title %}Accueil{% endblock title %}
{% block body %}
    <h1>Bonjour, Je m'appelle Sylvain Théodore est ceci est mon CV</h1>
    <h2>Je suis actuellement en 2eme année en école d'ingénierie informatique à Ingésup</h2>
<div>
    <h2>Infos complémentaire</h2>

    <ul>
        <li><h3>19 ans</h3></li>
        <li><h3>Habite à Bordeaux, 33000</h3></li>
        <li><h3>France</h3></li>
        <li><h3>Titulaire du permis de conduire</h3></li>
    </ul>
</div>
<div>
    <h2>Contact</h2>
    <ul>
        <li><h3>Email : sylv_theo@hotmail.fr</h3></li>
        <li><h3>Telephone : 0651376591</h3></li>
    </ul>
</div>
<div>
    <h1>Compétences</h1>
        <h2>Développement</h2>
        <ul>
            <li><h3>Python</h3> <progress max ="100" value="70"form="form-id">80%</progress></li>
            <li><h3>Java</h3> <progress max ="100" value="70"form="form-id">80%</progress></li>
            <li><h3>Javascript</h3> <progress max ="100" value="60"form="form-id">60%</progress></li>
            <li><h3>HTML5</h3> <progress max ="100" value="80"form="form-id">80%</progress></li>
            <li><h3>CSS3</h3> <progress max ="100" value="80"form="form-id">70%</progress></li>
            <li><h3>PHP(Symfony)</h3> <progress max ="100" value="50"form="form-id">60%</progress></li>
        </ul>
        <h2>Base de données</h2>
        <ul>
            <li><h3>PL/SQL</h3> <progress max ="100" value="70"form="form-id">70%</progress></li>
        </ul>
        <h2>Serveur</h2>
        <ul>
            <li><h3>Windows server(2012 r2)</h3> <progress max ="100" value="50"form="form-id">50%</progress></li>
        </ul>
</div>
    <div>
        <a href="/realisation">Mon expérience Professionnelle</a>

    </div>
{% endblock body %}